@using OnlineStore.Domain.Models

@helper WearBlock(ShopItem clothing)
{
    <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item @(clothing.Gender) @(CheckMoneyRange(clothing.Price))">
        <div class="block2 item-@(clothing.Name_)">
            <div class="block2-pic hov-img0">
                <img src="@Href(clothing.TitleImg)" alt="IMG-PRODUCT">

                <button class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal-@(clothing.Name_)">
                    Quick View
                </button>
            </div>

            <div class="block2-txt flex-w flex-t p-t-14">
                <div class="block2-txt-child1 flex-col-l ">
                    <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6 @(clothing.Name_)" id="@clothing.Id">
                        @clothing.Name
                    </a>

                    <span class="stext-105 cl3">
                        $@(clothing.Price)
                    </span>
                </div>

                <div class="block2-txt-child2 flex-r p-t-3 like-icon">
                    <a class="btn-addwish-b2 dis-block pos-relative js-addwish-b2" id="@clothing.Id" style="cursor: pointer;" >
                        <img class="icon-heart1 dis-block trans-04" src="~/Visualization/images/icons/icon-heart-01.png" alt="ICON">
                        <img class="icon-heart2 dis-block trans-04 ab-t-l" src="~/Visualization/images/icons/icon-heart-02.png" alt="ICON">
                    </a>
                </div>
            </div>
        </div>
    </div>
}


@helper ModelCreating(ShopItem clothing)
{
    <div class="wrap-modal-@(clothing.Name_) p-t-60 p-b-20 js-modal-@(clothing.Name_)">
        <div class="overlay-modal-@(clothing.Name_) js-hide-modal-@(clothing.Name_)"></div>

        <!-- Modal1 -->
        <div class="container">
            <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
                <button class="how-pos3 hov3 trans-04 js-hide-modal-@(clothing.Name_)">
                    <img src="@Href("~/Visualization/images/icons/icon-close.png")" alt="CLOSE">
                </button>

                <div class="row">
                    <div class="col-md-6 col-lg-7 p-b-30">
                        <div class="p-l-25 p-r-30 p-lr-0-lg">
                            <div class="wrap-slick3 flex-sb flex-w">
                                <div class="wrap-slick3-dots"></div>
                                <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                                <div class="slick3 gallery-lb">
                                    @foreach (var image in clothing.Images)
                                    {
                                        <div class="item-slick3" data-thumb="@Href(image.Path)">
                                            <div class="wrap-pic-w pos-relative">
                                                <img src="@Href(image.Path)" alt="IMG-PRODUCT">

                                                <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="@Href(image.Path)">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-5 p-b-30">
                        <div class="p-r-50 p-t-5 p-lr-0-lg @(clothing.Name_)" id="@(clothing.Id)">
                            <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                                @clothing.Name
                            </h4>

                            <span class="mtext-106 cl2">
                                $@(clothing.Price)
                            </span>

                            <p class="stext-102 cl3 p-t-23">
                                @clothing.Description
                            </p>

                            <!--  -->
                            <div class="p-t-33">

                                @if (clothing.Gender != "watches")
                                {
                                    <div class="flex-w flex-r-m p-b-10">

                                        <div class="size-203 flex-c-m respon6">
                                            Size
                                        </div>

                                        <div class="size-204 respon6-next">
                                            <div class="rs1-select2 bor8 bg0">
                                                <select class="js-select2 item-@(clothing.Name_)" id="size">

                                                    @if (clothing.Gender == "shoes")
                                                    {
                                                        foreach (var size in clothing.Sizes)
                                                        {
                                                            <option>@(SizeEstablisher(size.Name))</option>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        @*<option>Choose an option</option>*@
                                                    foreach (var size in clothing.Sizes)
                                                    {
                                                            <option>@size.Name</option>
                                                        }
                                                    }
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                }


                                    <div class="flex-w flex-r-m p-b-10">
                                        <div class="size-203 flex-c-m respon6">
                                            Color
                                        </div>

                                        <div class="size-204 respon6-next">
                                            <div class="rs1-select2 bor8 bg0">
                                                <select class="js-select2 item-@(clothing.Name_)" id="color">
                                                    @*<option>Choose an option</option>*@
                                                    @foreach (var color in clothing.Colors)
                                                    {
                                                        <option>@color.Name</option>
                                                    }
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="flex-w flex-r-m p-b-10">
                                        <div class="size-204 flex-w flex-m respon6-next">
                                            <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                                                <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                                    <i class="fs-16 zmdi zmdi-minus"></i>
                                                </div>

                                                <input class="mtext-104 cl3 txt-center num-product item-@(clothing.Name_)" type="number" name="num-count" value="1" min="1" max="@(clothing.Quantity)">

                                                <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                                    <i class="fs-16 zmdi zmdi-plus"></i>
                                                </div>
                                            </div>
                                            @if (Session["UserName"] != null)
                                            {
                                                <button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail item-@(clothing.Name_)">
                                                    Add to cart
                                                </button>
                                            }
                                            else
                                            {
                                                <button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 btn disabled" style="cursor: not-allowed;">
                                                    Add to cart
                                                </button>
                                            }

                                        </div>
                                    </div>

                                </div>

                            <!--  -->
                            <div class="flex-w flex-m p-l-100 p-t-40 respon7">

                                @if (Session["UserName"] != null)
                                {
                                    <div class="flex-m bor9 p-r-10 m-r-11">
                                        <a class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist" style="cursor: pointer;">
                                            <i class="zmdi zmdi-favorite"></i>
                                        </a>
                                    </div>
                                }

                                <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>

                                <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>

                                <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@helper CheckMoneyRange(double price)
{
    if (price < 50.00)
    {
        @("lessThan50")
    }
    else if (price < 100.00)
    {
        @("lessThan100")
    }
    else if (price < 150.00)
    {
        @("lessThan150")
    }
    else if (price < 200.00)
    {
        @("lessThan200")
    }
    else
    {
        @("above200")
    }
}

@helper SizeEstablisher(string size)
{
    switch (size)
    {
        case "S":
            @("37");
            break;
        case "M":
            @("38");
            break;
        case "L":
            @("39");
            break;
        case "XL":
            @("40");
            break;
        case "XXL":
            @("42");
            break;
        case "XXXL":
            @("43");
            break;
        default:
            @("44");
            break;
    }
}